* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 6px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.first-column {
  width: 55%;
  float: left;
  font-size: 6px;
}
.second-column {
  width: 40%;
  float: right;
  font-size:12px;
  
}
.askQuestion, .summary {
  position: fixed;
}

.highlighted {
  background-color: yellow;
}


h1 {
  font-size: 100px;
  margin-top: 40px;
  margin-bottom: 40px;

  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

button,
input {
  flex: 1;
  font-size: 1em;
  padding: 5px;
}

.paragraph {
  margin-bottom: 16px;
  font-size: 12px;
}

.h1 {
  font-size: 40px;
}
.h2 {
  font-size: 25px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 15px;
}

.h5 {
  font-size: 12px;
}