* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 6px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
}
.domains , .container-fluid, .modal-body{
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  /* max-width: 1200px; */
  margin: 0 auto;
  background-color: #efeff5;
  height: 100%;
}

.first-column {
  width: 45%;
  float: left;
  font-size: 6px;
  height: 100%;
  
}
.second-column {
  width: 53%;
  float: right;
  font-size:12px;
  height: 100%;
}

.results{
  height: 100%;
}
.pre-scrollable{
  max-height: 100%;
  
}

.svg {
  float: right;
}
/* 
.summary {
  background-color:#d1d1e0 
} */

.btn {
  margin: 2px 2px 2px 2px;
}

.divider{
  height:auto;
  display:inline-block;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}
#test-circle {
  fill: #fff;
  stroke: #fff
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.highlighted {
  background-color: yellow;
}

.modal-body {
  padding-top: 80px;
}


h1 {
  font-size: 100px;
  margin-top: 40px;
  margin-bottom: 40px;

  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

button,
input {
  flex: 1;
  font-size: 1em;
  padding: 5px;
}

.paragraph {
  margin-bottom: 16px;
  font-size: 12px;
}

.h1 {
  font-size: 40px;
}
.h2 {
  font-size: 25px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 15px;
}

.h5 {
  font-size: 12px;
}



p {
  font-size: 1.6em;
}
.message {
  font-size: 1.6em;
}
.panel-heading {
  font-size: 1.6em;
}


 svg {
  height: 5000px;
  width: 3500px;
}

.clusters rect {
  fill: #00ffd0;
  stroke: #999;
  stroke-width: 1.5px;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}


.noRequirementMessage {
  font-size: 1.6em;
}


[chosen = "True"] {
  background: #e5e5e5;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}
[chosen = "False"] {
  background: #ededed;
}