<!doctype html>
<html lang="is">
  <head>
    <script src="../static/data.js"></script>
    <script src="../static/baseFunctions.js"></script>
    <script src="../static/scripts.js"></script>
    <script src="../static/summaryBoxHelper.js"></script>
    <script src="../static/visualisation.js"></script>
    <script src="../static/visualisationHelper.js"></script>
    <script src="../static/witt.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../static/libraries/d3.min.js"></script>
    <script src="../static/libraries/dagre-d3.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Master thesis website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css"> 
  </head>
  <body>
    <main>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="font-size:1em;"><b>SDSupporter</b></a>
            <ul class="nav navbar-nav", id='dropdown1' style="height:100%;">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:1em;">Select a Question
              <span class="caret"></span></a>
              <ul class="dropdown-menu" method='post' id='front-search-question1' class="askQuestion" style="font-size:1em;">
                <li><a id='question1'>What functionalities exist in the system?</a></li>
                <li><a id='question2'>What functionalities does this feature provide?</a></li>
                <li class='disabled'><a>-</a></li>
                <li><a id='question3'>Find all information related to this functional requirement.</a></li>                        <!-- Remove? -->
                <li><a id='question4'>How is this functionality implemented?</a></li>
                <li><a id='question5'>What is the behaviour of this functionality?</a></li>
                <li><a id='question6'>What is the structure of this functionality?</a></li>
                <li><a id='question7'>What is the UI design of this functionality?</a></li>
                <li><a id='question8'>What was the development process related to this functionality?</a></li>
                <li class='disabled'><a>-</a></li>
                <li><a id='question9'>Find all information related to this non-functional requirement.</a></li>               <!-- Remove? -->
                <!--<li><a id='question10'>How is this non-functional requirement implemented?</a></li>-->                           <!-- Remove? -->
                <!--<li><a id='question11'>What is the behaviour of this non-functional requirement?</a></li>-->                     <!-- Remove? -->   
                <!--<li><a id='question12'>What is the structure of this non-functional requirement?</a></li>-->                     <!-- Remove? -->
                <!--<li><a id='question13'>What is the UI design of this non-functional requirement?</a></li>-->                     <!-- Remove? -->
                <li><a id='question14'>What was the development process related to this non-functional requirement?</a></li>
                <li class='disabled'><a>-</a></li>
                <li><a id='question15'>What architecture patterns are used in the system?</a></li>
                <li><a id='question16'>What programming languages are used in the system?</a></li>
                <li><a id='question17'>How are the architecture patterns in the system implemented?</a></li>
              </ul>
            </li>
            <li class="dropdown" id='featureSelector' style="display:none">
              <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:1em;">Select a feature
              <span class="caret"></span></a>
              <ul class="dropdown-menu" method='post' id='front-search-question2' class="askQuestion" style="font-size:1em;">
                <li><a id='feature1'>Display product</a></li>
                <li><a id='feature2'>Purchase product</a></li>
                <li><a id='feature3'>User management</a></li>
              </ul>
            </li>
            <li class="dropdown" id='userStorySelector' style="display:none">
              <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:1em;">Select a user story
              <span class="caret"></span></a>
              <ul class="dropdown-menu pre-scrollable askQuestionUserStories" method='post' id='front-search-question3' style="font-size:1em;">
                <li class='disabled'><a><b>Display products</b></a></li>
                <li><a class='req'>As a customer, I want to list all products of the shop (1).</a></li>
                <li><a class='req'>As a customer, I want to see only those products that belong to a particular category and any category descendant, so that I can narrow down the list to what fits best my needs (2).</a></li>
                <li><a class='req'>As a customer, I want to see only those products from the product list which prices fall within a specific price range, so that I can narrow down the list to best fit my economic requirements (3).</a></li>
                <li><a class='req'>As a customer, I want to see only those products from the product list which main color matches any of the colors I selected, so that I can narrow down the list to best fit my liking (4).</a></li>
                <li><a class='req'>As a customer, I want to sort the products from the product list by their name in an ascendant or descendant order (9).</a></li>
                <li><a class='req'>As a customer, I want to sort the products from the product list by their price in an ascendant or descendant order (8).</a></li>
                <li><a class='req'>The product list needs to be displayed divided into pages and the customer should be given the ability to browse through them (3).</a></li>
                <li><a class='req'>As a customer, I want to see all information regarding a particular product and its variants, so that I can make a better decision about buying it (1).</a></li>
                <li><a class='req'>As a customer, I want to be informed of my location inside the category tree via a breadcrumb, so that it can help me to navigate and have a better understanding of the web-shop structure (6).</a></li>
                <li><a class='req'>As a customer, I want to be informed with an informative message when a product list request has no results (5).</a></li>
                <li><a class='req'>As a customer, I want to be informed with an informative message when a category or product I requested cannot be found (10).</a></li>
                <li class='disabled'><a><b>Purchase products</b></a></li>
                <li><a class='req'>As a customer, I want to add a particular product to the shopping cart, so that I can buy it with the next order (1).</a></li>
                <li><a class='req'>As a customer, I want to change the number of units of a particular item in the shopping cart, so that I can buy a different quantity of the product with the next order (6).</a></li>
                <li><a class='req'>As a customer, I want to remove a particular item from the shopping cart, so that I do not buy it with the next order (3).</a></li>
                <li><a class='req'>As a customer, I want to place an order, so that I can actually buy the items in my shopping cart (2).</a></li>
                <li><a class='req'>As a customer, I want to be able to pay online my orders, so that I can pay immediately the moment I buy them instead of using other possibly unpleasant billing options (4).</a></li>
                <li><a class='req'>As a registered customer, I want to see a list of my orders, so that I can see all the purchases I did in the past (5).</a></li>
                <li><a class='req'>As a customer, I want to be able to see my current shopping cart from any page via a so-called mini-cart, so that I can always be aware of its contents and pricing details (5).</a></li>
                <li class='disabled'><a><b>User management</b></a></li>
                <li><a class='req'>As an anonymous customer, I want to sign up a new customer account, so that I can place orders more easily and take advantage of many other benefits (4).</a></li>
                <li><a class='req'>As an anonymous customer, I want to log in with an existing customer account, so that I take advantage of the benefits of being a registered customer (4).</a></li>
                <li><a class='req'>As a registered customer, I want to logout from my customer account, so that nobody else can use it from the same machine (5).</a></li>
                <li><a class='req'>As an anonymous customer, I want to be able to recover my password, so that I can log in with my account when I forget my current password (7).</a></li>
                <li><a class='req'>As a registered customer, I want to update my personal data such as the email address used (6).</a></li>
                <li><a class='req'>As a registered customer, I want to change my current password to another one of my choice (5).</a></li>
                <li><a class='req'>As a registered customer, I want to add a postal address to my address book, so that I can select it as shipping or billing address when placing an order (5).</a></li>
                <li><a class='req'>As a registered customer, I want to update the data of a particular postal address from my address book, so that it corresponds to my current situation (6).</a></li>
                <li><a class='req'>As a registered customer, I want to remove a particular postal address from my address book, so that I cannot longer select it when placing an order (5).</a></li>
              </ul>
            </li>
            <li class="dropdown" id='userStoryNonFuncSelector' style="display:none">
              <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:1em;">Select a user story
              <span class="caret"></span></a>
              <ul class="dropdown-menu pre-scrollable askQuestionUserStories" method='post' id='front-search-question4' style="font-size:1em;">
                <li class='disabled'><a><b>Usability</b></a></li>
                <li><a class='req'>As a developer, I want to identify and understand a particular business logic code of the template in less than 1 person-hour (2).</a></li>
                <li><a class='req'>As a developer, I want to learn how the application is structured and how I can modify and extend it to build my own web-shop in less than 8 person-hour (3).</a></li>
                <li><a class='req'>As a customer, I want to learn how to purchase an item for the first time in less than 5 minutes (7).</a></li>
                <li><a class='req'>The template should achieve an average of 7 out of 10 points from users when asked of how much do they like it (10).</a></li>
                <li class='disabled'><a><b>Maintainability</b></a></li>
                <li><a class='req'>As a developer, I want to be able to test any new feature of my web application with unit, integration and acceptance tests, in less than 2 person-hour (4).</a></li>
                <li><a class='req'>As a developer, I want to be able to safely change the set of data fetched from the platform without affecting the proper functioning of the template, at least in 95% of the cases (6).</a></li>
                <li><a class='req'>As a developer, I want to be able to perform simple changes on user interface elements of the template in less than 10 minutes (4).</a></li>
                <li class='disabled'><a><b>Functionability</b></a></li>
                <li><a class='req'>The system must block any external attacker from reading or modifying sensitive information (6).</a></li>
                <li><a class='req'>The system must avoid to store or process any payment data. (2)</a></li>
                <li><a class='req'>As a merchant, I want my web-shop with a SEO-friendly URL structure, so that my web-shop can improve its ranking position in Internet search engines (8).</a></li>
                <li><a class='req'>As a customer, I want the web-shop with a human-readable URL structure, so that I can identify the type of content before visiting the web page.</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
          
      <section class="domains">
        <div class="container-fluid">   
          <div class="modal-body">
              <div class="results pre-scrollable"></div>  
              <div class="container-fluid second-column">
                <div class="panel panel-default panel-upper">
                    <div class="panel-heading">
                      <div class="panel-title">
                        <a data-toggle="collapse" href="#collapsel" id="summaryHeader">Question box</a>
                      </div>
                    </div>
                    <div id="collapsel" class="panel-collapse collapse in">
                        <div class="summary panel-body"></div>                 
                        <div class="divider panel-body" id="groupButtons"></div>
                        <div class="divider panel-body" id="wordButtons"></div>
                    </div>
                </div>
                <div class="panel panel-default panel-lower">
                    <div class="panel-heading result-graph">Result graph</div>
                    <div class="panel-body" id='interactive_diagram_svg'>
                </div>                
              </div>
            </div>
          </div>
      </section>
    </main>   
  </body>
</html>
